# C++ related
src/*.o
src/**/*.o

# Executables
bin/

# Scons
.sconsign.dblite

# Garbage from OS
.DS_Store

# Image and video data
data/
*.o

# Platform dependent
Makefile

# QT config files
tin_serwer.pro.user*

# QT is a little bit too helpful
*.autosave
